* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
.custom-modal-width .modal-dialog {
  max-width: 80%; /* Adjust width as needed */
  width: 80%;
}
